body {
  background-color: #fff;
  font-family: 'Circe', Arial, sans-serif;
  font-size: 16px; }

.inner-container {
  max-width: 1169px;
  margin: 0 auto; }

.font-red, .go-home-link {
  color: #AB2328; }

.header-brand {
  z-index: 90;
  margin-left: -40px; }

.header-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end; }

.header-personal, .header-nav {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  align-content: center;
  cursor: pointer; }

.header-personal {
  margin-bottom: 8px; }

.go-home-link img {
  margin: 0 8px -1px 0; }

.main-header {
  padding-top: 20px;
  background: #fff; }

.btn {
  display: inline-block;
  padding: 7px 11px;
  border-radius: 5px;
  text-align: center; }
  .btn.big {
    font-size: 18px;
    padding: 15px 45px; }
  .btn.curse {
    font-variant: small-caps; }

.btn-white {
  background-color: #fff;
  color: #7AA92E;
  border: 1px solid #7AA92E; }
  .btn-white:hover {
    background-color: rgba(122, 169, 46, 0.3); }

.btn-green {
  background-color: #7AA92E;
  color: #fff; }

.btn-red {
  background-color: #AB2328;
  color: #fff; }

.btn-reg {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.btn-log {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.btn-social {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 15px;
  background-color: #AB2328;
  margin: 0 6px; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }

.log-btns {
  display: flex;
  justify-content: flex-start; }

.header-profile-list {
  display: none;
  position: absolute;
  top: 42px;
  left: 0;
  width: 100%;
  z-index: 100;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  background: #fff;
  padding: 10px 0; }
  .header-profile-list ul a {
    font-size: 16px;
    line-height: 48px;
    padding: 0 42px;
    display: inline-block;
    width: 100%; }
    .header-profile-list ul a:hover {
      background-color: rgba(122, 169, 46, 0.3); }

.hover-fix {
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 100%;
  height: 12px;
  background-color: transparent; }

.user-list-option {
  font-weight: bold; }

.user-list-number {
  float: right;
  color: #7AA92E;
  display: block;
  width: 30px;
  text-align: left; }

.header-user-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-right: 110px;
  position: relative; }
  .header-user-profile:hover > .header-profile-list {
    display: block; }

.header-user-pic {
  width: 34px;
  height: 34px; }

.header-user-name {
  color: #7AA92E;
  margin: 0 10px; }

.btn-logout {
  width: 174px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px; }

.header-nav-desktop a {
  color: #000;
  font-weight: bold;
  line-height: 24px;
  margin: 0 13px; }

.header-nav-desktop .active {
  border-bottom: 2px solid #FFB81C; }

.header-nav-desktop li {
  float: left;
  display: block; }

.reg-receipt {
  font-weight: bold;
  width: 234px;
  font-variant: small-caps; }
  .reg-receipt.big {
    width: 288px; }

.header-nav-desktop {
  margin-right: 19px; }

.header-brand a {
  float: left; }

.main-content {
  margin-top: -55px;
  z-index: 85;
  position: relative; }

.wide-redline-top {
  width: 100%;
  z-index: 85;
  position: absolute;
  left: 0;
  top: 0; }

.main-footer-contacts {
  background-color: #FFB81C;
  padding: 46px 0; }

.mail-us {
  font-variant: small-caps;
  float: left;
  padding: 13px 12px;
  margin-right: 20px; }
  .mail-us .mail-icon {
    margin: 0 0 -2px 10px; }

.main-footer-inner, .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center; }

.footer-email {
  flex-basis: 60%; }

.footer-hotline p {
  font-weight: bold; }

.footer-hotline .phone-number {
  text-transform: capitalize;
  font-size: 40px;
  line-height: 45px;
  position: relative; }

.footer-hotline .phone-info {
  font-size: 18px;
  line-height: 23px;
  font-variant: small-caps; }

.phone-icon {
  position: absolute;
  left: -43px;
  top: 6px; }

.footer {
  max-width: 1206px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center; }

.footer-brand .footer-logo {
  width: 74px;
  height: 52px; }

.footer-soc-btns li {
  float: left; }

.btn-viber {
  font-variant: small-caps;
  font-size: 13px;
  line-height: 16px;
  background: #1BD741;
  color: #fff;
  padding: 7px; }
  .btn-viber img {
    margin: 0 10px -7px 0; }

.heading {
  font-weight: bold;
  font-size: 45px;
  line-height: 48px;
  text-align: center; }
  .heading.red {
    color: #AB2328; }

.red-promo-outer {
  padding: 55px 0; }

.red-promo {
  padding: 50px 21% 0 21%; }
  .red-promo .item-img {
    margin-bottom: 22px; }
  .red-promo .item-name {
    font-size: 21px;
    line-height: 24px; }
  .red-promo .item {
    flex-basis: 32%;
    margin-bottom: 20px; }

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center; }

.item {
  text-align: center; }

.align-center {
  display: flex;
  align-items: center;
  justify-content: center; }
  .align-center.inline {
    display: inline-flex; }

.read-rules {
  font-size: 16px;
  line-height: 18px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  text-align: center;
  display: block;
  margin-top: 18px; }

.main-slider {
  padding-top: 8px; }
  .main-slider .slider-item {
    height: 515px;
    background-size: cover;
    background-position: center; }
  .main-slider .download-apps, .main-slider .reg-receipt {
    margin-top: 35px; }

.slider-item {
  position: relative; }
  .slider-item p, .slider-item .slider-img, .slider-item a {
    position: relative;
    z-index: 90; }

.text-heading {
  font-weight: bold;
  font-size: 52px;
  line-height: 55px;
  color: #AB2328;
  margin-bottom: 15px; }

.text-supp {
  font-size: 30px;
  line-height: 32px; }

.slide-content {
  margin-top: 135px; }

/* Slick slider */
.slick-dots {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 39px;
  text-align: center; }
  .slick-dots li {
    display: inline-block;
    position: relative; }
  .slick-dots button {
    display: inline-block;
    font-size: 0;
    border: 0;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    height: 14px;
    width: 14px;
    margin: 0 7px; }
  .slick-dots .slick-active button {
    background: #AB2328; }

.slick-prev, .slick-next {
  background: url(../img/black-arrow.svg) no-repeat;
  width: 16px;
  height: 32px; }

.slick-prev {
  left: -25px; }

.slick-next {
  right: -25px;
  transform: rotate(180deg); }

/**/
.download-apps {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }
  .download-apps a {
    margin-right: 19px; }

.wide-download-app {
  background: url(../img/bg-big-wood-2.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 454px;
  padding: 45px 0; }
  .wide-download-app .text-heading {
    color: black;
    font-size: 55px;
    margin-top: 89px; }
  .wide-download-app .text-supp {
    margin-bottom: 35px; }

.prize-slider-outer {
  background: url(../img/bg-wood.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 52px 0; }

.prize-slider {
  margin: 30px 0 70px; }
  .prize-slider .prize-footer {
    height: 45px; }
  .prize-slider .prize-content {
    height: 244px; }

.prize-item {
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 4px 7px;
  height: 289px;
  overflow: hidden; }

.prize-name, .prize-price {
  text-align: center;
  font-weight: bold; }

.prize-name {
  font-size: 16px;
  line-height: 16px;
  margin: 16px 0 10px;
  padding: 0 10%; }
  .prize-name::first-letter {
    text-transform: uppercase; }

.prize-price {
  font-size: 25px;
  line-height: 28px;
  text-align: center;
  text-transform: lowercase; }

.prize-content-inner {
  padding: 19px 7px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.prize-footer {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  font-variant: small-caps;
  padding: 9px 0; }
  .prize-footer.success {
    background-color: #7AA92E; }
  .prize-footer.nego {
    background-color: #C4C4C4; }
  .prize-footer.default {
    background-color: #FFB81C; }

.big-pool-promo {
  padding: 65px 0; }
  .big-pool-promo .heading {
    margin-bottom: 20px; }
  .big-pool-promo .text-supp {
    text-align: center; }
  .big-pool-promo .prize-name {
    margin: 0;
    padding: 0; }
  .big-pool-promo .prize-item {
    height: 270px;
    min-width: 30%; }
  .big-pool-promo .prize-footer {
    padding: 13px 0; }
  .big-pool-promo .prize-content {
    height: 203px; }
    .big-pool-promo .prize-content img {
      height: 100%; }
  .big-pool-promo .pool-list {
    margin: 20px 0; }

/* Social icons */
.icon-vk {
  background: url(../img/soc-vk.svg) #AB2328 no-repeat center; }

.icon-ok {
  background: url(../img/soc-ok.svg) #AB2328 no-repeat center; }

.icon-face {
  background: url(../img/soc-face.svg) #AB2328 no-repeat center; }

.icon-insta {
  background: url(../img/soc-insta.svg) #AB2328 no-repeat center; }

.icon-youtube {
  background: url(../img/soc-youtube.svg) #AB2328 no-repeat center; }

.icon-star {
  background: url(../img/soc-star.svg) #AB2328 no-repeat center; }
